@tailwind base;
@tailwind components;
@tailwind utilities;

/* 커스텀화가 가능  */
/* @layer base {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }
}

@layer components {
  .btn-blue {
    @apply bg-blue-500 py-2 px-4 rounded-xl font-bold hover:bg-blue-700;
  }
} */

#hero {
  background-image: url("../images/7_proj/desktop/image-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 576px) {
  #hero {
    background-image: url("../images/7_proj/mobile/image-hero.jpg");
    background-position: center;
  }
}
